{% extends 'front/layout.html' %}
{% load static %}
{% block content %}
    <!-- Page Banner Section Start -->
    <div class="page-banner-section section"
         style="background-image: url({% static 'login-banner.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="page-banner-content col">
                    <h1>تغییر رمز عبور</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- Page Section Start -->
    <div class="page-section section section-padding">
        <div class="container ">
            <div class="row mbn-40">
                <div class="col-12 mb-40">
                    <div class="text-center login-register-form-wrap ">
                        <h3>بازنشانی پسورد</h3>

                        <form action="{% url 'password_reset' %}" method="post" class="mb-30 reset-form">
                            {% csrf_token %}
                            {{ form.errors }}
                            <div class="d-flex justify-content-center align-items-center row text-center">
                                <div class="col-md-6 col-sm-12 text-center mb-15">
                                    {{ form.phonenumber }}
                                </div>
                                <div class="col-12"></div>
                                <div class="col-md-6 col-sm-12 verifycode {% if not form.errors %} hidden {% endif %}text-center mb-15">
                                    <hr>
                                    {{ form.verfiycode }}
                                    <label for="password" dir="rtl" class=" control-label">
                                        کد چهار رقمی پیامک شده را اینجا وارد کنید.
                                    </label>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-md-6 col-sm-12 password {% if not form.errors %} hidden {% endif %}text-center mb-15">
                                    {{ form.password }}
                                    <label for="password" dir="rtl" class=" control-label">
                                        پسورد جدید
                                    </label>
                                </div>
                                <div class="col-12"></div>

                                <div class="col-md-6 col-sm-12 password2 {% if not form.errors %} hidden {% endif %}text-center mb-15">
                                    {{ form.password_confirm }}
                                    <label for="password" dir="rtl" class=" control-label">
                                        تکرار پسورد جدید
                                    </label>
                                </div>
                                <div class="col-12">
                                    <button class=" btn btn-secondary {% if form.errors %} hidden {% endif %}  btn-round p-2 px-3" id="send" type="button">ارسال
                                        کد
                                    </button>
                                    <button class="btn btn-primary {% if not form.errors %} hidden {% endif %} btn-round p-2 px-3" id="reset-btn" type="submit">
                                        ثبت پسورد جدید
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Page Section End -->

{% endblock %}

{% block scripts %}
    <script>
        $('#send').click(function () {
            let number = $(".reset-form #id_phonenumber").val()
            number = toEnglishDigits(number)
            if (number.length === 11 && !isNaN(number)) {
                number = "+98" + number.substr(1)
                $.ajax({
                    type: 'post',
                    url: '{% url "send_code" %}',
                    data: {
                        number: number,
                    },
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    success: function (data) {
                        alert(code)
                        $('.verifycode').show()
                        $('.password').show()
                        $('.password2').show()
                        $('#reset-btn').show()
                        $('#send').hide()
                    }
                })
            } else {
                alert("فرمت شماره همراه اشتباه است.")
            }
        })
    </script>
{% endblock %}